*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: gothic !important;
  margin: 0;

}

.swiper-button-prev, .swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  color: white !important;
  background-color: rgb(51,51,51) !important;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px !important;
}

.swiper-horizontal > .swiper-scrollbar {
  height: 8px !important;
  width: 98% !important;
}

@import "Header.module";
@import "Footer.module";
