$strike-color: #808080;
$link-color: #000;
$link-text-color: #fff;
$error-color: #c62828;
$header-font: normal normal bold 30px/37px Century Gothic;
$form-header-font: normal normal normal 24px/30px Century Gothic;
$label-font: normal normal bold 14px/17px Century Gothic;
$news-text-font: normal normal normal 14px/17px Century Gothic;
$related-text-font: normal normal normal 24px/29px Century Gothic;

h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font: $header-font;
}

.form{
  h2{
    font: $form-header-font;
  }

  label{
    font: $label-font;
    margin-top: 10px;
  }
  label:last-child{
    margin-top: 0;
  }
  .newsLetterText{
    font: $news-text-font;
  }
}

.link{
  height: 40px;
  background-color: $link-color;
  color: $link-text-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 31px;
}

.error{
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

.related{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  font: $related-text-font;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.selectLabel{
  display: block;
  margin-bottom: 5px;
}

.form{
  h2{
    font: $form-header-font;
  }

  label{
    font: $label-font;
  }
  .newsLetterText{
    font: $news-text-font;
  }
}

.error{
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

.related{
  width: 100%;
  padding: 20px 0;
  font: $related-text-font;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.suggestedContainer{
  width: 100%;
}

.inputLabel{
  font: $label-font;
  margin-bottom: 5px;
  display: block;
}

@media only screen and (max-width: 960px){
  .suggestedContainer{
    display: none;
  }

}

.checkContainer{
  display: flex;
  margin-top: 10px;

  .box{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    margin-right: 7px;
    cursor: pointer;
    .checkBox{
      width: 100%;
      height: 100%;
      background: url("/src/assets/img/checkmark.png") no-repeat center;
    }
  }
  p{
    cursor: pointer;
  }
}