$strike-color: #808080;
$link-color: #000;
$link-text-color: #fff;
$error-color: #c62828;
$header-font: normal normal bold 30px/37px Century Gothic;
$form-header-font: normal normal normal 24px/30px Century Gothic;
$label-font: normal normal bold 14px/17px Century Gothic;
$news-text-font: normal normal normal 14px/17px Century Gothic;
$related-text-font: normal normal normal 24px/29px Century Gothic;

.statusContainer{
  padding: 10px 0;
  text-transform: uppercase;

  span{
    color: $strike-color;
  }
}

h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font: $header-font;
}

.form{
  h2{
    font: $form-header-font;
  }

  label{
    font: $label-font;
  }
  .newsLetterText{
    font: $news-text-font;
  }
}

.link{
  height: 40px;
  background-color: $link-color;
  color: $link-text-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 31px;
}

.error{
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

.related{
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  font: $related-text-font;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.selectLabel{
  display: block;
  margin-bottom: 5px;
}

.form{
  h2{
    font: $form-header-font;
  }

  label{
    font: $label-font;
  }
  .newsLetterText{
    font: $news-text-font;
  }
}

[type="checkbox"]{
  display: none;
}

[type="checkbox"] + label{
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
}

[type="checkbox"] + label::before{
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  outline: 2px solid black;
  //background: white;
}


[type="checkbox"]:checked + label::after{
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("/src/assets/img/checkmark.png") no-repeat center;
}


.error{
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

.related{
  width: 100%;
  padding: 20px 0;
  font: $related-text-font;
  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.suggestedContainer{
  width: 100%;
}

@media only screen and (max-width: 960px){
  .suggestedContainer{
    display: none;
  }

}