$text-color: #fff;
$gold-background-color: linear-gradient(#EFE27C,#A6872D);
$strike-color: #808080;
$link-color: #000;

@mixin buttonLink{
  margin-top: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  background-color: $link-color;
  color: $text-color;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  border: 1px solid $link-color;
  text-transform: uppercase;
}

html{
  scroll-behavior: smooth;
}
.statusContainer{
  padding: 20px 0;
  text-transform: uppercase;

  span{
    color: $strike-color;
  }
}

.leftImgContainer{
  .imgContainer{
    width: 78px;
    height: 100px;
    cursor: pointer;

    img{
      width: 100%;
      height: 100%;
      padding-top: 4px;
    }
  }
}

.imgCenterContainer{

  display: grid;
  img{
    width: 100%;
    height: 100%;
  }
}

.topCard{
  border-bottom: 1px solid silver;
  padding-bottom: 15px;
}

.iconContainer{
  padding-bottom: 10px;
}

.code{
  color: $strike-color;
  padding: 10px 0;
}

.goldBox{
  width: 41px;
  height: 20px;
  color: $text-color;
  background: $gold-background-color;
  padding: 2px 5px;
  margin: 0 12px;
  font-size: 14px;
}

.price{
  strong{
    font-size: 14px;
  }
  strike{
    color: $strike-color;
    font-size: 14px;
  }
}

.colorContainer{
  border-bottom: 1px solid silver;
  padding: 10px 0;
  p{
    text-transform: uppercase;
  }
  .circleContainer{
    display: flex;
    padding: 10px 0;
    .circle{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      margin-right: 11px;
      border: 1px solid #D9D9D9;
    }

    .circle:first-child{
      border: 1px solid black;
    }
  }
}

.sizeContainer{
  padding: 10px 0;
  border-bottom: 1px solid silver;

  p{
    padding: 10px 0;
  }
  .selectContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color: $link-color;
      text-transform: uppercase;
    }
  }
  .cardLink{
    @include buttonLink;
  }
  .cardLink:hover{
    color: $link-color;
    background-color: $text-color;
    transition: linear 500ms;
  }
}

.questionContainer{
  border-bottom: 1px solid silver;
  p{
    padding-bottom: 10px;
  }
}

.question{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
}

.related{
  width: 100%;
  padding: 20px 0;

  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}

.imgCenterContainer{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,411px) 848px;
    gap: 10px;
    img:last-child{
      grid-column: 1/3;
    }
  }



