$text-color: #fff;
$gold-background-color: linear-gradient(#EFE27C,#A6872D);
$strike-color: #808080;
$link-color: #000;

.sliderContainer{
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

