$home-text-color: #808080;
$error-color: #c62828;
$final-color: #F7F7F7;
$strike-color: #808080;
$label-font: normal normal bold 14px/17px Century Gothic;
$font-final-title: normal normal bold 18px/22px Century Gothic;
$font-final-content: normal normal normal 14px/30px Century Gothic;
$font-final-footer: normal normal bold 14px/30px Century Gothic;

.inputLabel{
  font: $label-font;
  margin-bottom: 5px;
  display: block;
}

.error{
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

label {
  font: $label-font;
}
@media only screen and (min-width: 960px){
  .form{
    padding: 0 130px;
  }
  .statusContainer {
    padding-left: 102px;
  }
}

.finalContainer{
  width: 100%;
  background-color: $final-color;
  margin-top: 21px;
  padding: 40px 50px;

  .title{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font: $font-final-title;

  }
  strong:nth-child(2) , strong:nth-child(3){
    font-size: 14px;
  }

  p{
    font: $font-final-content;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  p:nth-child(7){
    padding-bottom: 20px;
  }
  p:last-child{
    font: $font-final-footer;
  }
}
