$text-color: #fff;
$strike-color: #808080;
$link-color: #000;
$summary-color: #F7F7F7;

@mixin buttonLink{
  margin-top: 40px;
  margin-bottom: 10px;
  text-decoration: none;
  width: 100%;
  background-color: $link-color;
  color: $text-color;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  border: 1px solid $link-color;
  text-transform: uppercase;
}

@mixin hoverLink{
  color: $link-color;
  background-color: $text-color;
  transition: linear 500ms;
  text-decoration: none;
}

.statusContainer{
  margin-top: 20px;
  text-transform: uppercase;

  span{
    color: $strike-color;
  }
}

h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.summaryContainer{
  background-color: $summary-color;
  width: 100%;
  height: 323px;
  display: flex;
  flex-direction: column;
  padding: 0 30px;

  h4{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  p{
    padding-bottom:  5px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .order{
    padding-top: 20px;
  }
  .continue{
    @include buttonLink;
    margin-top: 57px;
  }
  .continue:hover{
    @include hoverLink;
  }
}
.related{
  width: 100%;
  padding: 20px 0;

  h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }
}
