$home-text-color: #808080;
$error-color: #c62828;
$title-font: normal normal bold 30px/37px Century Gothic;
$label-font: normal normal bold 14px/17px Century Gothic;

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;

  h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font: $title-font;
  }
}

.error {
  color: $error-color;
  margin-top: 5px;
  font-size: 12px;
}

.inputLabel {
  font: $label-font;
  margin-bottom: 5px;
  display: block;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  line-height: 25px;
}

[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  outline: 2px solid black;
  //background: white;
}


[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 18px;
  height: 18px;
  background: url("/src/assets/img/checkmark.png") no-repeat center;
}

.form {
  margin-bottom: 160px;
}

@media only screen and (min-width: 960px) {

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 326px;
  }
}

@media only screen and (max-width: 960px) {
  .form {
    padding: 0 20px;
  }
  .link {
    width: 100%;
  }
}