$strike-color: #808080;

.statusContainer{
  padding: 20px 0;
  text-transform: uppercase;

  span{
    color: $strike-color;
  }
}
@media only screen and (max-width: 600px){

  .statusContainer{
    padding: 5px 0;

  }

}