$home-text-color: #808080;
$clear-color: #F7F7F7;
@mixin top-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statusContainer{
  padding: 20px 0;
  text-transform: uppercase;

  span{
    color: $home-text-color;
  }
}
.category{
     @include top-container;

    .selectsContainer{
        display: flex;
      .selectContainer{
        position: relative;
      .select{
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 5px;
          .chev{
            transition: 1s;
          }
      }
          .options{
            position: absolute;
            top: 25px;
            left: 0;
            background-color: white;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            z-index: 10;
            [type="checkbox"]{
              display: none;
            }

            [type="checkbox"] + label{
              position: relative;
              padding-left: 30px;
              cursor: pointer;
              display: inline-block;
              line-height: 25px;
              margin: 2px 0;
              font-size: 12px;
            }

            [type="checkbox"] + label::before{
              content: '';
              position: absolute;
              left: 0;
              top: 4px;
              width: 16px;
              height: 16px;
              outline: 2px solid black;
              //background: white;
            }


            [type="checkbox"]:checked + label::after{
              content: "";
              position: absolute;
              left: 0;
              top: 4px;
              width: 18px;
              height: 18px;
              background: url("/src/assets/img/checkmark.png") no-repeat center;
            }
          }
      }
    }
     h2{
       text-transform: uppercase;
     }
}

.clear{
    @include top-container;
    margin: 20px 0;
    height: 30px;
    background-color: $clear-color;
    .btn{
      border: none;
      outline: none;
      height: 20px;
      width: 75px;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      padding: 3px 5px;
    }

}

.paginationContainer{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .selectsContainer{

    .selectContainer{
      .options{
        width: 150px;
        height: 249px;
        padding: 20px;

      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .category{
    h2{
      font-size: 12px;
    }
  }

  .selectsContainer{
    .selectContainer{
      span{
        font-size: 11px;
      }
      .options{
        width: auto;
        padding: 10px;

      }
    }
  }
}